@import url("https://fonts.googleapis.com/css2? family=Poppins:wght@300%;400;500;600;700;800;900& display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #A351FB;
    --secondary-color: #1E2837;
    --background-color: #111926;
    

}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    /* min-height: 100vh; */
    /* background: url(wallpapersden.com_windows-blue-mess_1920x1080.jpg); */
    background-color: var(--background-color);
    /* background-color: #333333; */
    /* background-color: royalblue; */
}


header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    background-color: #1E2837;
    flex-wrap: wrap;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    /* margin-top: 10px; */
    width: 100vw;
}

.logo {
    display: flex;
    justify-content: flex;
    align-items: center;
    margin-left: 95px;
    color: #D8B5FF;
    /* flex-wrap: wrap; */
}

.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    margin-right: 100px;
    /* border: 2px solid rgb(33, 222, 64); */
}


.navigation ul {
    list-style: none;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    font-size: large;
    flex-wrap: wrap;
    color: white;
}

.navigation ul li a {
    text-decoration: none;
    color: #D8B5FF;
}

.navigation ul li a:hover {
    text-decoration: underline;
}


.welcometext {
    font-family: "arial";
    font-size: 24px;
    display: grid;
    place-items: center;
    width: auto;
    color: var(--primary-color);
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 1.5s steps(30, end) forwards, blinking 1s infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes blinking {
    0% {
        border-color: transparent
    }

    50% {
        border-color: var(--primary-color)
    }

    100% {
        border-color: transparent
    }
}


.container {
    display: flex;
    /* border: 2px solid white; */
    width: 95vw;
    height: 90vh;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 10px;
}

.box1 {
    width: 30vw;
    height: 535px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box2 {
    width: 30vw;
    height: 535px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box1 .helmet_img {
    position: relative;
    height: 35vh;
    width: 25.3vw;
    /* border: 2px solid white; */
}

.box1 .helmet_img img{
    
    object-fit: fill;
    width: 25vw;
}

.heading {
    padding: 20px;
}

.box2 .restrict_img {
    position: relative;
    height: 40vh;
    width: 25vw;
    border: 2px solid white;
}

.boxcontent {
    text-align: center;
    padding: 20px;
}

.container a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    font-size: larger;
    color: black;
    transition: 1s;
    /* margin-bottom: 100px; */

}

.container a:hover {
    color: white;
}

.helmet_button:hover {

    transform: scale(1.1, 1.1);
}

.restrict_button:hover {

    transform: scale(1.1, 1.1);
}